@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-family: 'Roboto' , sans-serif;
}

header {
    height: 90px;
    border-bottom: 1px solid #f0f0f0;
}

nav ul {
    padding: 33px 0px 33px 50px;
}

ul li {
    display: inline;
    padding-right: 34px;
}

li a {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #050038;
    list-style: none;
    text-decoration: none;
}

#hero {
    display: flex;
    height: 600px;
    padding-top: 60px;
    padding-left: 40px;
    margin-bottom: 50px;
}

h1 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 48px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #050038;
    margin-bottom: 17px;
}

.heroText {
    width: 425px;
    height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    color: #050038;
    margin-bottom: 55px;
}

#email {
    border: 1px solid #9b99af;
    border-radius: 32px;
    width: 440px;
    height: 48px;
    margin-bottom: 10px;
}

#heroButton {
    border: 1px solid #4262ff;
    border-radius: 32px;
    width: 440px;
    height: 51px;
    background-color: #4262ff;
    margin-bottom: 8px;
}

.button-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #fff;
}

.heroLogos {
    display: flex;
    margin-top: 50px;
}

.heroLogos span {
padding-top: 7px;
margin-right: 20px;
}

.hero-div-one {
    margin-right: 250px;
}

#heroImg {
    width: 700px;
    height: 460px;
}

#hero-two {
    display: flex;
    height: 500px;
}

.hero-two-div-one {
    padding-left: 40px;
    margin-right: 320px;
}

.header-two-first {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 48px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #050038;
    margin-bottom: 20px;
}

.heroText-two {
    width: 436px;
    height: 120px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    color: rgba(5, 0, 56, 0.6);
    margin-bottom: 40px;
}

.linkAbout {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    color: #4262ff;
}

#hero-three {
    display: flex;
    height: 550px;
}

.hero-three-div-one {
    padding-left: 40px;
    margin-right: 310px;
}

.header-two-second {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 48px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #050038;
    padding-top: 60px;
    margin-bottom: 20px;
}

.heroText-three {
    width: 430px;
    height: 120px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    color: rgba(5, 0, 56, 0.6);
    margin-bottom: 40px;
}

.footer {
    display: flex;
    background-color: #050038;
    padding: 40px 0px 40px 40px;
}

.footer div, a {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    margin-right: 20px;
}

.footer a {
    text-decoration: none;
}